SERIAL_DEVICE=/dev/ttyACM0
SERIAL_PORT=/dev/ttyACM0
SERIAL_BAUDRATE=9600

DEVICE_NAME=optical_amp_1
HISTORY_MEMORY_LIMIT=10000
PERSISTED_STATE_FILE=/app/data/persisted_state.json

INFLUX_ENABLED=true
INFLUX_URL=http://influxdb:8086
INFLUX_TOKEN=my-super-token
INFLUX_ORG=agh
INFLUX_BUCKET=sensors
INFLUX_INIT_USERNAME=admin
INFLUX_INIT_PASSWORD=admin12345
MEASUREMENT_NAME=optical_amp_status
SETPOINT_MEASUREMENT_NAME=optical_amp_setpoint

SYSLOG_ENABLED=true
SYSLOG_HOST=host.docker.internal
SYSLOG_PORT=514
SYSLOG_APP_NAME=amp-dashboard
SYSLOG_FACILITY=16
AUDIT_LOG_FILE=/app/data/audit.log
