SERIAL_DEVICE=/dev/ttyACM0
SERIAL_PORT=/dev/ttyACM0
SERIAL_BAUDRATE=9600

DEVICE_NAME=optical_amp_1
HISTORY_MEMORY_LIMIT=10000
PERSISTED_STATE_FILE=/app/data/persisted_state.json
INITIAL_ADMIN_PASSWORD=
LOGIN_MAX_ATTEMPTS=5
LOGIN_WINDOW_SECONDS=300
SESSION_MAX_AGE_SECONDS=43200
SESSION_COOKIE_SECURE=false
TRUST_PROXY_HEADERS=false

INFLUX_ENABLED=true
INFLUX_URL=http://influxdb:8086
INFLUX_TOKEN=
INFLUX_ORG=agh
INFLUX_BUCKET=sensors
INFLUX_INIT_USERNAME=admin
INFLUX_INIT_PASSWORD=
MEASUREMENT_NAME=optical_amp_status
SETPOINT_MEASUREMENT_NAME=optical_amp_setpoint

SYSLOG_ENABLED=true
SYSLOG_HOST=host.docker.internal
SYSLOG_PORT=514
SYSLOG_APP_NAME=amp-dashboard
SYSLOG_FACILITY=16
SYSLOG_TIMEZONE=Europe/Warsaw
SYSLOG_EXPORT_FILE=/var/log/amp-dashboard/amp-dashboard.log

TZ=Europe/Warsaw

SNMP_PORT=1161
SNMP_COMMUNITY=

NTP_SERVER=tempus1.gum.gov.pl
NTP_SERVER_FALLBACK_IP=194.146.251.100
NTP_PORT=123
NTP_TIMEOUT_SECONDS=3
NTP_CACHE_SECONDS=15

RADIUS_SERVER=radius
RADIUS_PORT=1812
RADIUS_SECRET=
RADIUS_ADMIN_PASSWORD=
RADIUS_TIMEOUT_SECONDS=3
RADIUS_RETRIES=1
RADIUS_NAS_IDENTIFIER=amp-dashboard
